@{
    ViewBag.Title = "Home Page";
}
<div id="themeSlider" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#themeSlider" data-slide-to="0" class="active"></li>
        <li data-target="#themeSlider" data-slide-to="1"></li>
        <li data-target="#themeSlider" data-slide-to="2"></li>
    </ol>

    <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <div class="imgOverlay"></div>
                <img style="height:320px;width:100%" src="https://i.imgur.com/NKvkfTT.png" class="mx-auto" alt="slide">
            </div>
            <div class="item">
                <div class="imgOverlay"></div>
                <img style="height:320px;width:100%" src="https://i.imgur.com/duWgXRs.png" class="mx-auto" alt="slide">
            </div>
        </div>
        <div class="item">
            <div class="imgOverlay"></div>
            <img style="height:320px;width:100%" src="https://i.imgur.com/DGkR4OQ.png" class="mx-auto" alt="slide">
        </div>

        <a class="left carousel-control-" href="#themeSlider" data-slide="prev">
            <span class="fa fa-chevron-left "></span>
        </a>
        <a class="right control-next" href="#themeSlider" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
        </a>

    </div>

</div>

<div class="olContent f1"><h2 style="color:black">Search Product/Category</h2></div>
<div class="olSearch fr">
    <input type="text" placeholder="Enter Keyword" name="searchKey" class="inputComn houseText form-control" />
    <div class="searchIcon">
        <button type="button" class="searchBtn">
            <img src="~/Images/searchIcon.png" />
        </button>
    </div>
</div>

<div class="row">
    <div class="col-md-12">
        <div class="page-header">
            <h2>Our Producrs <small>trends products</small></h2>
        </div>
    </div>
</div>

<div class="row product-container">

    <div class="col-md-3 col-sm-3 col-xs-6" style="margin-bottom:8px">
        <div class="thumbnail product-item" style="height:300px">

            <img class="img-responsive" title="Click to View Product detail"
                 style="cursor:pointer;height:160px;width:100%"
                 @*src="~/Images/81_12_24_2017_10_26_28.jpg" />*@
                    src="~/Images/Personal_Care.jpg" />

            <div class="caption">
                <h5>Men's Gillette Set</h5>
                <p>$1000.00.</p>
                <p>Available</p>
                <div class="product-item-badge">New</div>
            </div>
        </div>
    </div>
</div>